<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div id="about" class="webpage" style="background: rgba(255, 255, 255,0.7);">

    <h2>About Us:</h2>

        <br/>
        <label style="display: block; text-align: center;">
            Toys Store by Noga Agmon and Elinor Shalom <br/>
            We are 3rd year students at the information system department of Ben-Gurion university. <br/>
            we build this web store using angular 1, javascript, jquery, HTML5 and css as well. <br/>
            Working on this store was very enjoyable. The main challenge during the work was in loading the countries xml file <br/>
                and using the local storage to save user's cart. <br/>
            In the past we have build some more websites, you can see them in the links below: <br/>
        <br/><br/>
            <a href="https://nogaag.000webhostapp.com"> --> Noga's web site <--</a><br/>
            <a href="https://elinor.000webhostapp.com"> --> Elinor's web site <--</a><br/>
            <a href="https://elinorsh.github.io/pacmanGame"> --> Pacman game <--</a><br/>
            <br/><br/>
        </label>
    <h3>happy shopping!</h3><br/>


<!-- https://nogaag.000webhostapp.com/ -->
<!-- https://elinor.000webhostapp.com/ -->
<!-- https://elinorsh.github.io/pacmanGame/ -->


</div>
</body>
</html>